<h3>Current definition</h3>

<dl>
  <dt>name</dt>
  <dd>
    use the <code>name</code>, if different from the computed
    <code>cityName</code>
  </dd>
  <dt>cityName</dt>
  <dd>
    <code>locality.long_name</code> if exists, otherwise
    <code>administrative_area_level_3.short_name</code>
  </dd>
  <dt>stateCode</dt>
  <dd>
    <code>administrative_area_level_1.short_name</code> if different from
    <code>administrative_area_level_1.long_name</code>, otherwise not set
  </dd>
  <dt>countryName</dt>
  <dd>
    <code>country.long_name</code>
  </dd>
  <dt>countryCode</dt>
  <dd>
    <code>country.short_name</code>
  </dd>
</dl>

<h3>Playground</h3>
<mat-form-field>
  <mat-label>Toppings</mat-label>
  <mat-select [formControl]="toppings" >
    
    <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
  </mat-select>
</mat-form-field>
<select name="pets" id="pet-select">
  <option value="">--Please choose an option--</option>
  <option value="dog">Dog</option>
  <option value="cat">Cat</option>
  <option value="hamster">Hamster</option>
  <option value="parrot">Parrot</option>
  <option value="spider">Spider</option>
  <option value="goldfish">Goldfish</option>
</select>
<div>
  <input
    placeholder="search for location"
    autocorrect="off"
    autocapitalize="off"
    spellcheck="off"
    type="text"
    class="form-control"
    #search
  />
</div>

<div class="map" #map></div>

<div *ngFor="let entry of entries">
  <table *ngIf="entry.place" [style.borderColor]="entry.color">
    <thead>
      <tr>
        <th>
          <button (click)="remove(entry)">remove</button>
        </th>
        <th>short_name</th>
        <th>types</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="2">{{ entry.place.name }}</td>
        <td>name</td>
      </tr>
      <tr *ngFor="let component of entry.place.address_components">
        <td>{{ component.long_name }}</td>
        <td>{{ component.short_name }}</td>
        <td>{{ component.types }}</td>
      </tr>
      <tr>
        <th colspan="2">⇒ Parsed as</th>
        <th>field</th>
      </tr>
      <tr *ngFor="let locationField of locationFields">
        <td colspan="2">{{ entry.location[locationField] }}</td>
        <td>{{ locationField }}</td>
      </tr>
      <!--tr>
        <td colspan="3">
          <pre>{{ entry.place | json }}</pre>
        </td>
      </tr-->
    </tbody>
  </table>
</div>
